*{
    margin: 0px;
    border: 0px;
}
body{
    background-color: rgba(106, 124, 77, 0.288);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
   background-color: whitesmoke;
   min-height: 45vh;
   min-width: 40vh;
   padding: 2rem;
   align-content: center;
   border-radius: 1rem;
}
.drop{
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin:1rem;
}
.msg{
    margin: 1rem 0 1rem 0;
}
button{
    height: 2rem;
    width:100%;
    background-color: #af4d98;
    color: azure;
    border-radius: 1rem;
}
.amount input{
    width: 100%;
    height: 2rem;
    border: 0.5px solid #131111;
    border-radius: 0.7rem;
    padding-left: 0.5rem;
}
.select{
    border: 2px solid #131111;
    border-radius: 0.3rem;
}
form{
    margin-top: 1rem;
}